version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: org_management_mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app_network

  api:
    build: .
    container_name: org_management_api
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      MONGODB_URL: mongodb://mongodb:27017
      DATABASE_NAME: org_master_db
      JWT_SECRET_KEY: iSQZjPk5xAWCI--6oUwXBfRXUCe47Z4jeBYXQKqjAJ4
      JWT_ALGORITHM: HS256
      JWT_EXPIRATION_MINUTES: 30
    depends_on:
      - mongodb
    networks:
      - app_network

volumes:
  mongodb_data:

networks:
  app_network:
    driver: bridge
